<form #form="ngForm" novalidate>
  {{ detail | json }}

  <div>
    <label for="fullname">Passenger name:</label>
    <input
      type="text"
      name="fullname"
      [ngModel]="detail?.fullname">
  </div>

  <div>
    <label for="id">Passenger ID:</label>
    <input
      type="number"
      name="id"
      [ngModel]="detail?.id">
  </div>

  <div>
    <label>
      <input
        type="checkbox"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)">
      Checked in
    </label>
  </div>

  <div *ngIf="form.value.checkedIn">
    <label for="checkInDate">Check in date</label>
    <input type="number" name="checkInDate" [ngModel]="detail?.checkInDate">
  </div>

  <div>
    <label>Luggage</label>
    <select name="baggage"
      [ngModel]="detail?.baggage">
      <option [value]="item.key"
        *ngFor="let item of baggage">
        {{item.value}}
      </option>
    </select>
  </div>

  {{ form.value | json }}
</form>